/* Global */
#attention-please,
#what-you-need,
#what-you-ll-get,
#get-started,
#navigation-buttons,
#others-buttons,
#button-resume 
{
  background-image: url('/cdn/expo/images/slides/expo.png');
  background-repeat: no-repeat;
  background-position: 90% top;
}

.slide .expo-navigation-current-page.slide-pager:before {
  content: '# ';
}

.slide .expo-navigation-current-page.slide-pager {
  position: absolute;
  top: 345px;
  right: 10%;
  font-size: 34px;
  color: #FFF;
  font-family: pacificoregular;
  margin-right: 35px;
}

/* Slide */
#intro {
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #d0d0d0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%,#d0d0d0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%,#d0d0d0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%,#d0d0d0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
}

#intro h2 {
  display: none;
}

/* Slide */
#attention-please {
  background-color: #E2E2E2;
}

/* Slide */
#what-you-need {
  background-color: #A8EDFD;
}

/* Slide */
#what-you-ll-get {
  background-color: #00CDFF;
}

#what-you-ll-get strong {
  color: #FFF;
}

/* Slide */
#get-started {
  background-color: #478FB2;
}

#get-started h2 {
  margin-bottom: 40px;
}

#get-started .span3 {
  text-align: center;
  padding: 10px 0;

  -webkit-border-radius: 12px; /* Safari and Chrome */
     -moz-border-radius: 12px; /* Firefox */
          border-radius: 12px;
}

#get-started .span3:hover {
  background: rgba(240, 240, 240, 0.2);
}

#get-started .row-fluid {
  margin-left: 10%;
  text-align: right;
  width: 60%;
  padding-right: 10%;
  color: #FFFFFF;
}

#get-started .interface_start,
#get-started .content_start,
#get-started .theme_start,
#get-started .code_start {
  height: 116px;
  margin: 50px auto;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#get-started .interface_start {
  background-image: url('/cdn/expo/images/slides/interface.png');
}

#get-started .content_start {
  background-image: url('/cdn/expo/images/slides/content.png');
}

#get-started .theme_start {
  background-image: url('/cdn/expo/images/slides/theme.png');
}

#get-started .code_start {
  background-image: url('/cdn/expo/images/slides/code.png');
}

#get-started .nlpb {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: #FFFFFF;
  font-weight: bold;
  background: rgba(229, 229, 229, 0.2);
  clear:both; 
  display:block;
  line-height:28px;
  border: 10px rgba(240, 240, 240, 0.8) solid;
  margin: 0 auto;

  -webkit-border-radius: 84px; /* Safari and Chrome */
     -moz-border-radius: 84px; /* Firefox */
          border-radius: 84px;
}

#get-started .nlpb:hover { 
  background: rgba(229, 229, 229, 0.7);
  text-decoration: none;
  cursor: pointer;
  clear:both;
  display:block;
  line-height:28px;
}

/* Slide */
#interface {
  background-color: #7D0057;
}

/* Slide */
#navigation-buttons {
  background-color: #C10087;
}

/* Slide */
#others-buttons {
  background-color: #E038AD;
}

/* Slide */
#button-resume {
  background-color: #E065BB;
}

/* Slide */
#create-content {
  background-color: #019875;
}
/*
  background-color: #99E26A;
  background-color: #70C539;
*/

/* Slide */
#custom-theme {
  background-color: #FDBA51;
}

/* Slide */
#application-architecture {
  background-color: #E64C30;
}

/* Others */
.buttons-info {
  list-style-type: none;
  color: #FFF;
  float: left;
  margin-left: 10%;
}

.buttons-info li {
  margin: 15px 0;
  clear: both;
}

.buttons-info li a,
.buttons-info li p {
  display: block;
  float: left;
  margin: 0 0 0 20px;
  line-height: 44px;
}

.slide h2 {
  border-bottom: 1px solid #FFF;
  width: 60%;
  font-size: 48px;
  line-height: 62px;
  height: 48px;
  margin: 70px 20% 60px 10%;
  text-align: right;
  /*padding-right: 10%;*/
}

.slide strong {
  font-weight: normal;
  font-family: pacificoregular;
  font-size: 32px;
  margin: 0 6px;
}

.slide strong.blue {
  color: #04C2F1;
}

.slide > div > p {
  margin-left: 10%;
  text-align: right;
  width: 60%;
  padding-right: 10%;
  font-size: 26px;
  color: #6B6B6B;
}

.warning {
  display: block;
  font-family: pacificoregular;
  font-size: 20px;
  padding: 5px;
  color: #FFF;
  position: relative;
  margin: 0 auto;
  width: 60%;
  text-align: center;
}
