.deco {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

/* Tout les elements freres de deco ont un z-index plus important que .deco */
.deco + * { 
  position: relative;
  z-index: 1001;
}

#intro {
  background: #fefefe; /* Old browsers */
  background: -moz-linear-gradient(top, #fefefe 0%, #d0d0d0 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fefefe), color-stop(100%,#d0d0d0)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #fefefe 0%,#d0d0d0 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #fefefe 0%,#d0d0d0 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #fefefe 0%,#d0d0d0 100%); /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%,#d0d0d0 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#d0d0d0',GradientType=0 ); /* IE6-9 */
}

#intro h2 {
  display: none;
}

#attention-please {
  background: #E2E2E2;
}

#attention-please .deco {
  background: url('/cdn/expo/images/slides/expo1.png') no-repeat 90% top;
}


#what-you-need {
  background: #A8EDFD;
}

#what-you-need .deco {
  background: url('/cdn/expo/images/slides/expo2.png') no-repeat 90% top;
}

#what-you-ll-get {
  background: #00CDFF;
}

#what-you-ll-get strong {
  color: #FFF;
}

#what-you-ll-get .deco {
  background: url('/cdn/expo/images/slides/expo3.png') no-repeat 90% top;
}

#get-started {
  background: #0286CA;
}

#get-started .gsb {
   
  text-align: center;
  padding: 20px;
  font-size: 26px;
  color: #FFFFFF;
  font-weight: bold;
  background: rgba(229, 229, 229, 0.5);
}

#get-started .gsb:hover { 
  background: rgba(229, 229, 229, 0.7);
  text-decoration: none;
  cursor: pointer;
}

#get-started .deco {
  background: url('/cdn/expo/images/slides/expo4.png') no-repeat 90% top;
}

#get-started .row-fluid {
  margin-left: 10%;
  text-align: right;
  width: 60%;
  padding-right: 10%;
  color: #FFFFFF;
}

.slide h2 {
  border-bottom: 1px solid #FFF;
  width: 60%;
  font-size: 48px;
  line-height: 62px;
  height: 48px;
  margin: 83px 20% 80px 10%;
  text-align: right;
  padding-right: 10%;
}

.slide > div > p {
  margin-left: 10%;
  text-align: right;
  width: 60%;
  padding-right: 10%;
  font-size: 26px;
  color: #6B6B6B;
}

strong {
  font-size: 34px;
}

strong.blue {
  color: #04C2F1;
}


