html, body, article {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.slide {
  height: 100%;
  background: #FFF;
}

.button {
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border: 1px solid #000;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

.init .button {
  color: #FFF;
  border-color: #FFF;
}

.button:hover {
  text-decoration: none;
}

*:hover > .button {
  background: #FFF;
  color: #000;
  border-color: #000;
}

.pending *:hover > .button {
  background: #000;
  color: #FFF;
  border-color: #FFF;
}

a:focus {
  outline: none;
}

/* Player Information */
#player-information {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  visibility: visible;
  display: block;
  opacity: 0.9;
  background: #222;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

.pending #player-information {
  opacity: 0;
}

#player-information > div {
  position: relative;
  width: 100%;
  height: 100%;
}

#player-information > div > div {
  overflow: hidden;
  height: 100%;
}

#player-information > div > div > * {
  display: block;
  width: 140px;
  height: 140px;
  padding: 30px;
  margin: 30% auto 0;
  background: #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

/* Project Information */
#project-information {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
}

#project-information > a {
}

#project-information > .content {
  position: absolute;
  bottom: 44px;
  visibility: hidden;
}

#project-information:hover > .content {
  visibility: visible;
}

#project-information > .content > div {
  background: #DDD;
  border: 1px solid #888;
  padding: 8px;
  margin: 0 0 4px 0;
  min-width: 200px;
}

#project-information > .content > .title {
}

#project-information > .content > .description {
}

#project-information > .content > .context {
}

#project-information > .content > .social_network {
}


/* Project Navigation */
body > nav {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 9999;
}

body > nav ul {
  position: relative;
  margin: 0;
  padding: 0;
}

body > nav > ul li {
  float: left;
  list-style-type: none;
  margin: 10px 0 0 10px;
  position: relative;
}

body > nav > ul > li a {
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
}

body > nav > ul > li > .content {
  position: absolute;
  bottom: 44px;
  right: -64px;
  width: 226px;
  height: 214px;
  display: block;
  visibility: hidden;
}

body > nav > ul > li > .content > ul {
  overflow: auto;
  background: #000;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  padding-bottom: 10px;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

body.pending > nav > ul > li > .content > ul {
  background: #DDD;
}

body > nav > ul > li:hover > .content {
  visibility: visible;
}
