html, body, article {
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  overflow: hidden;
  padding: 0;
}

.slide {
  height: 100%;
  background: #FFF;
}

.button {
  display: block;
  width: 42px;
  height: 42px;
  text-align: center;
  line-height: 42px;
  overflow: hidden;
  font-size: 20px;
  font-weight: bold;
  color: #000;
  border: 1px solid #000;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

.init .button {
  color: #FFF;
  border-color: #FFF;
}

.button:hover {
  text-decoration: none;
}

*:hover > .button {
  background: #FFF;
  color: #000;
  border-color: #000;
}

.pending *:hover > .button {
  background: #000;
  color: #FFF;
  border-color: #FFF;
}

a:focus {
  outline: none;
}

/* Player Information */
#player-information {
  position: absolute;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: block;
  visibility: visible;
  opacity: 0.99;
  background: #222;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

.pending #player-information {
  visibility: hidden;
  opacity: 0;
}

#player-information > div {
  position: relative;
  width: 100%;
  height: 100%;
}

#player-information > div > div {
  overflow: hidden;
  height: 100%;
}

#player-information > div > div > * {
  display: block;
  width: 200px;
  height: 200px;
  padding: 42px;
  margin: 30% auto 0;
  background: #FFF;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
}

#player-information > div > div > div > p {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 30px 0;
  color: #000;
  text-decoration: none;
}

#player-information > div > .start > div > a {
  font-size: 200px;
  line-height: 52px;
  color: #000;
  text-shadow: 0px 1px 1px #ddd,
               0px 2px 1px #d6d6d6,
               0px 3px 1px #ccc,
               0px 4px 1px #c5c5c5,
               0px 5px 1px #c1c1c1,
               0px 6px 1px #bbb,
               0px 7px 1px #777,
               0px 8px 3px rgba(100, 100, 100, 0.4),
               0px 9px 5px rgba(100, 100, 100, 0.1),
               0px 10px 7px rgba(100, 100, 100, 0.15),
               0px 11px 9px rgba(100, 100, 100, 0.2),
               0px 12px 11px rgba(100, 100, 100, 0.25),
               0px 13px 15px rgba(100, 100, 100, 0.3);
  text-decoration: none;
}

#player-information > div > .controls > div > ul {
  margin: 0;
  list-style-type: none;
}

#player-information > div > .controls > div > ul > li {
  margin: 8px 0 0 0;
  clear: both;
  overflow: auto;
}

#player-information > div > .controls > div > ul > li > label {
  float: left;
  font-size: 14px;
  line-height: 16px;
  margin: 0 8px 0 0;
  width: 95px;
  text-align: right;
}
#player-information > div > .controls > div > ul > li > label:after {
  content: ':';
}

#player-information > div > .controls > div > ul > li > span {
  display: block;
  width: 22px;
  height: 16px;
  border: 1px solid #555;
  float: left;
  margin: 0 4px 0 0;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

/* Project Information */
#project-information {
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
}

#project-information > a {
  float: left;
  margin: 0 10px 0 0;
}

#project-information > .content {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

#project-information:hover > .content {
  opacity: 1;
  visibility: visible;
}

#project-information > .content > div {
  background: #DDD;
  border: 1px solid #888;
  padding: 8px;
  margin: 0 0 4px 0;
  min-width: 230px;
}

#project-information > .content > .title {
}

#project-information > .content > .summary {
  font-size: 12px;
}

#project-information > .content > .authors {
}

#project-information > .content > .authors > .social_networks {
  font-size: 10px;
}

#project-information > .content > .actions {
  background: none;
  border: none;
  padding: 0 0 0 54px;
}

#project-information > .content > .actions > ul {
  margin: 0;
  list-style-type: none;
}

#project-information > .content > .actions > ul > li {
  float: left;
  margin: 0 10px 0 0;
  position: relative;
}

#project-information > .content > .actions > ul > li .content {
  position: absolute;
  bottom: 44px;
  left: -54px;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

#project-information > .content > .actions > ul > li:hover .content {
  opacity: 1;
  visibility: visible;
}

/* Project Navigation */
body > nav {
  position: absolute;
  bottom: 15px;
  right: 15px;
  z-index: 9999;
}

body > nav ul {
  position: relative;
  margin: 0;
  padding: 0;
}

body > nav > ul li {
  float: left;
  list-style-type: none;
  margin: 10px 0 0 10px;
  position: relative;
}

body > nav > ul > li a {
  -moz-border-radius: 42px;
  -webkit-border-radius: 42px;
  border-radius: 42px;
}

body > nav > ul > li > .content {
  position: absolute;
  bottom: 44px;
  right: -64px;
  width: 226px;
  height: 214px;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  -moz-transition: 0.6s;
  -webkit-transition: 0.6s;
}

body > nav > ul > li:hover > .content {
  opacity: 1;
  visibility: visible;
}

body > nav > ul > li > .content > ul {
  overflow: auto;
  background: #000;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  padding-bottom: 10px;
}

body.pending > nav > ul > li > .content > ul {
  background: #DDD;
}

/* Container */

#container {}

#container section {
}

#container section h2 {
  font-size: 4em;
  line-height: 1em;
}

#container section .description {
  position: absolute;
  top: 2%;
  right: 2%;
  background: #F0F0F0;
  padding: 20px;
  font-size: 1.5em;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
  border-radius: 16px;
  box-shadow: 2px 2px 10px #222;
  -moz-box-shadow: 2px 2px 10px #222;
  -webkit-box-shadow: 2px 2px 10px #222;
}

#container section .description > ul {
  margin-top: 20px;
}

#container section .content {
  padding: 1% 2% 2% 10%;
  font-size: 2em;
}

#container section .content ul > li {
  margin-top: 0.8em;
}
